#projectButtons {
    background-color: #0f6674 !important;
}


.customDivPadding {
    padding: 0 300px;
}

.customFontSize {
    font-size: 1.5rem;
    line-height: 3rem;
}

@media(max-width: 480px) {
    .customFontSize {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    
    .customDivPadding {
        padding: 0 100px;
    }
}


.align {
    text-align: center;
}

.projectTechList {
    list-style-type: none;
}